<% if message.user == current_user %>
  <% previous_message = @chatroom.messages.find_by(id: message.id - 1).user unless @chatroom.messages.find_by(id: message.id - 1).nil? %>
  <% if @chatroom.messages.find(message.id).user == previous_message %>
    <div class="chat-message d-flex align-items-start rounded" id="message-<%= message.id %>">
        <small class="text-muted message-side-timestamp ml-2"><%= l(message.created_at.getlocal, format: :only_time) %></small>
        <div class="flex-grow-1">
          <p class="message-content" style="margin-left: 12px;"><%= message.content %></p>
        </div>
    </div>
  <% else %>
  <div class="chat-message d-flex align-items-start px-3 mt-2 rounded" id="message-<%= message.id %>">
      <%= cl_image_tag message.user.photo.key, class: "avatar mr-3" %>
        <div class="flex-grow-1">
          <div class="d-flex align-items-center">
            <p class="mr-2"><strong><%= message.user.first_name %></strong></p>
            <small class="text-nowrap"><%= l(message.created_at.getlocal, format: :long) %></small>
          </div>
          <p class="message-content"><%= message.content %></p>
        </div>
    </div>
  <% end %>
<% else %>
  <% previous_message = @chatroom.messages.find_by(id: message.id - 1).user unless @chatroom.messages.find_by(id: message.id - 1).nil? %>
  <% if @chatroom.messages.find(message.id).user == previous_message %>
    <div class="chat-message d-flex align-items-start rounded" id="message-<%= message.id %>">
        <small class="text-muted message-side-timestamp ml-2"><%= l(message.created_at.getlocal, format: :only_time) %></small>
        <div class="flex-grow-1">
          <p class="message-content" style="margin-left: 12px;"><%= message.content %></p>
        </div>
    </div>
  <% else %>
  <div class="chat-message d-flex align-items-start px-3 mt-2 rounded" id="message-<%= message.id %>">
      <%= cl_image_tag message.user.photo.key, class: "avatar mr-3" %>
        <div class="flex-grow-1">
          <div class="d-flex align-items-center">
            <p class="mr-2"><strong><%= message.user.first_name %></strong></p>
            <small class="text-nowrap"><%= l(message.created_at.getlocal, format: :long) %></small>
          </div>
          <p class="message-content"><%= message.content %></p>
        </div>
    </div>
  <% end %>
<% end %>
