<% previous_message = @chatroom.messages.find_by(id: message.id) %>
<% previous_message = @chatroom.messages.find_by(id: message.id - 1) unless @chatroom.messages.find_by(id: message.id - 1).nil? %>

<% if previous_message.created_at.getlocal.to_date - message.created_at.getlocal.to_date < 0 || @chatroom.messages.find_by(id: message.id - 1).nil? %>
  <div class="d-flex justify-content-center position-relative mt-3">
    <% if message.created_at.end_of_day == Date.today.end_of_day %>
      <div class="btn btn-sm btn-outline-secondary date-float">Hoy</div>
    <% elsif message.created_at.end_of_day == Date.yesterday.end_of_day %>
      <div class="btn btn-sm btn-outline-secondary date-float">Ayer</div>
    <% else %>
      <div class="btn btn-sm btn-outline-secondary date-float"><%= l(message.created_at.getlocal, format: :long) %></div>
    <% end %>
  </div>
  <hr>
<% end %>

<% if @chatroom.messages.find(message.id).user != previous_message.user || previous_message = @chatroom.messages.find_by(id: message.id - 1).nil? || previous_message.created_at.getlocal.to_date - message.created_at.getlocal.to_date < 0 %>
  <div class="chat-message d-flex align-items-start px-3 mt-2 rounded" id="message-<%= message.id %>">
    <%= cl_image_tag message.user.photo.key, class: "avatar mr-3" %>
    <div class="flex-grow-1">
      <div class="d-flex align-items-center">
        <p class="mr-2"><strong><%= message.user.first_name %></strong></p>
        <small class="text-nowrap"><%= l(message.created_at.getlocal, format: :only_time) %></small>
      </div>
      <p class="message-content"><%= message.content %></p>
    </div>
  </div>
<% else %>
  <div class="chat-message d-flex align-items-start rounded" id="message-<%= message.id %>">
    <small class="text-muted message-side-timestamp ml-2"><%= l(message.created_at.getlocal, format: :only_time) %></small>
    <div class="flex-grow-1">
      <p class="message-content" style="margin-left: 12px;"><%= message.content %></p>
    </div>
  </div>
<% end %>

