<% previous_message = @chatroom.messages.find_by(id: message.id) %>
<% previous_message = @chatroom.messages.find_by(id: message.id - 1) unless @chatroom.messages.find_by(id: message.id - 1).nil? %>

<% if @chatroom.messages.first == message %>
  <div class="d-flex justify-content-center position-relative mt-3">
    <% if message.created_at.getlocal.end_of_day == Date.today.to_time.end_of_day %>
      <div class="btn btn-sm btn-outline-secondary date-float">Hoy</div>
    <% elsif message.created_at.getlocal.end_of_day == Date.yesterday.to_time.end_of_day %>
      <div class="btn btn-sm btn-outline-secondary date-float">Ayer</div>
    <% else %>
      <div class="btn btn-sm btn-outline-secondary date-float"><%= l(message.created_at.getlocal - 10800, format: :long) %></div>
    <% end %>
  </div>
  <hr>
<% else %>
  <% if previous_message.created_at.getlocal.to_date.end_of_day - message.created_at.getlocal.to_date.end_of_day < 0 %>
    <div class="d-flex justify-content-center position-relative mt-3">
      <% if message.created_at.getlocal.end_of_day == Date.today.to_time.end_of_day %>
        <div class="btn btn-sm btn-outline-secondary date-float">Hoy</div>
      <% elsif message.created_at.getlocal.end_of_day == Date.yesterday.to_time.end_of_day %>
        <div class="btn btn-sm btn-outline-secondary date-float">Ayer</div>
      <% else %>
        <div class="btn btn-sm btn-outline-secondary date-float"><%= l(message.created_at.getlocal - 10800, format: :long) %></div>
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>


<% if previous_message.nil? || @chatroom.messages.find(message.id).user != previous_message.user || previous_message == @chatroom.messages.first || previous_message.created_at.getlocal.to_date.end_of_day - message.created_at.getlocal.to_date.end_of_day < 0 %>
  <div class="chat-message d-flex align-items-start px-3 mt-2 rounded" id="message-<%= message.id %>">
    <%= avatar_fixer(message.user, class: "avatar mr-3") %>
    <div class="flex-grow-1">
      <div class="d-flex align-items-center">
        <p class="mr-2"><strong><%= message.user.first_name %></strong></p>
        <small class="text-nowrap"><%= l(message.created_at.getlocal - 10800, format: :only_time) %></small>
      </div>
      <p class="message-content"><%= message.content %></p>
    </div>
  </div>
<% else %>
  <div class="chat-message d-flex align-items-start rounded" id="message-<%= message.id %>">
    <small class="text-muted message-side-timestamp ml-2"><%= l(message.created_at.getlocal - 10800, format: :only_time) %></small>
    <div class="flex-grow-1">
      <p class="message-content" style="margin-left: 12px;"><%= message.content %></p>
    </div>
  </div>
<% end %>

