<div class='container mb-3'>
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Registrarse</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "Nombre" },
          label: "Nombre"%>
          <%= f.input :last_name,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "Apellido" },
          label: "Apellido"%>
          <%= f.input :email,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "Email" }%>
          <%= f.input :photo, as: :file, label: "Sube una foto de perfil" %>
          <%= f.input :password,
          required: true,
          hint: ("#{@minimum_password_length} caracteres como mínimo" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
          required: true,
          input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Registrarse", class: "btn btn-primary" %>
        </div>
        <% end %>
        <%= link_to "Ingresá con GitHub", user_github_omniauth_authorize_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
