<%= link_to application_request_chatroom_path(apprequest.id), class: "chat-message-sidebar" do %>
  <% if apprequest == @chatroom %>
    <div class="d-flex align-items-start border-bottom p-3 sidebar-selected">
  <% else %>
    <div class="d-flex align-items-start border-bottom p-3 sidebar-nonselected">
  <% end %>
      <%= avatar_fixer(apprequest.messages.last.user, class: "avatar mr-3") %>
      <div class="flex-grow-1">
        <div class="d-flex align-items-center">
          <p class="mr-2 mb-0"><strong><%= apprequest.messages.last.user.first_name %></strong><small class="text-muted"> - <%= truncate(apprequest.application_request.project.name, length: 50) %></small></p>
        </div>
          <p class="message-content mb-0"><%= truncate(apprequest.messages.last.content, length: 50) %></p>
      </div>
    </div>
<% end %>


