<div class="d-block d-md-flex">
  <div class="d-none d-md-block sidebar pt-3">

    <div class="sidebar-section mt-3">
      <p class="pl-3 mb-0 pb-3 border-bottom">Conversaciones con project owners</p>
      <% if current_user.chatrooms.select { |x| x.messages.count > 0 }.empty? %>
        <div class="d-flex align-items-start border-bottom p-3 mint-cream">
          No hay conversaciones aún :(
        </div>
      <% else %>
        <% current_user.chatrooms.select { |x| x.messages.count > 0 }.each do |apprequest| %>
          <%= render "chatrooms/sidebar_message", apprequest: apprequest %>
        <% end %>
      <% end %>
    </div>
    <div class="sidebar-section mt-3">
      <p class="pl-3 mb-0 pb-3 border-bottom">Conversaciones con aplicantes</p>
      <% unless current_user.projects.count { |project| project.chatrooms.select { |chatroom| chatroom.messages.count > 0 }.any? } > 0  %>
        <div class="d-flex align-items-start border-bottom p-3 mint-cream">
          No hay conversaciones aún :(
        </div>
      <% end %>
      <% current_user.projects.each do |project| %>
        <% project.chatrooms.select { |x| x.messages.count > 0 }.each do |apprequest| %>
          <%= render "chatrooms/sidebar_message", apprequest: apprequest %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-grow-1 flex-column justify-content-between">
      <div class="p-4 chat-header">
        <% if @chatroom.application_request.user != current_user %>
          <div>
            <div class="d-flex align-items-center px-3 mt-2">
              <%= avatar_fixer(@chatroom.application_request.user, class: "avatar-large mr-3" ) %>
              <div class="flex-grow-1">
                <div class="d-flex align-items-center">
                    <p class="mr-2 mb-0"><strong><%= @chatroom.application_request.user.first_name %> <%= @chatroom.application_request.user.last_name %></strong></p>
                </div>
              <small class="mb-3 mint-cream">Aplicando para <%= @chatroom.application_request.role.name %> - <%= @chatroom.application_request.project.name %></small>
              </div>
              <div>
                <%= render "application_requests/my_project_request_case", application: @chatroom.application_request %>
              </div>
            </div>
          </div>
        <% else %>
          <div>
            <div class="d-flex align-items-center px-3 mt-2">
              <%= avatar_fixer(@chatroom.application_request.project.user, class: "avatar-large mr-3" ) %>
              <div class="flex-grow-1">
                <div class="d-flex align-items-center">
                    <p class="mr-2 mb-0"><strong><%= @chatroom.application_request.project.user.first_name %> <%= @chatroom.application_request.project.user.last_name %></strong></p>
                </div>
              <small class="mb-3 mint-cream"><%= @chatroom.application_request.project.roles.first.name %> - <%= @chatroom.application_request.project.name %></small>
              </div>
              <%= render "application_requests/index_case", application: @chatroom.application_request %>
            </div>
          </div>
        <% end %>
      </div>
    <div class="chat-messages flex-grow-1">
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.sort.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div>
    <div>
      <%= simple_form_for [ @chatroom, @message ], remote: true, html: { class: "d-flex ml-3 my-3 chatroom-form" } do |f| %>
        <%= f.input :content, label: false, placeholder: "Envia un mensaje...", wrapper_html: { class: 'w-100 mb-0 chatroom-input' }, class: "form-control w-100 mb-0" %>
        <button type="submit" class="btn btn-primary mx-2 px-3">
          <i class="far fa-paper-plane"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>
