<div id="footer">
  <div class="footer-links my-2">
    <%= link_to "Comunidad", "#" %>
    <%= link_to "FAQs y Soporte", "#" %>
    <%= link_to "Acerca de Nosotros", "#" %>
    <%= link_to "Accesibilidad", "#" %>
    <%= link_to "Feedback", "#" %>
  </div>
  <div class="footer-copyright mt-2">
    Made with <i class="fa fa-heart mx-1" aria-hidden="true" style="color: red;"></i> at LeWagon Batch #384
  </div>
</div>

