<div class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <div class="d-flex">
  <% if user_signed_in? %>
    <%= link_to projects_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png" %>
      <p class="mb-0 ml-1 navbar-logo-text">TeamAppsis</p>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png" %>
      <p class="mb-0 ml-1 navbar-logo-text">TeamAppsis</p>
    <% end %>
  <% end %>
      <%= form_tag projects_path, method: :get, class: "d-none d-sm-flex flex-nowrap mt-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mb-3 navbar-search",
          placeholder: "Busca proyectos..."%>
        <%= button_tag type: 'submit', class: "search-button" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Mis Proyectos", my_projects_path, class: "nav-link" %>
        </li>

        <!-- notificación simple si hay candidatos pendientes -->
        <% if (current_user.projects.any? {|project| project.application_requests.any? {|app_request| app_request.status == "pending"}})  %>
          <li class="nav-item">
            <%= link_to "Mis Candidatos", my_project_request_path, class: "nav-link" %>
            <span class="notification-dot">.</span>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Mis Candidatos", my_project_request_path, class: "nav-link" %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Mis Aplicaciones", application_requests_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "Crear Proyecto", new_project_path, class: "d-block nav-link d-md-none" %>
        </li>
        <li class="btn p-0 nav-item dropdown ml-2">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <% avatar_url = current_user.github_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mis skills", user_skills_path(current_user), class: "dropdown-item text-muted" %>
            <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item text-muted" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item text-muted" %>
          </div>
        </li>
        <div class="nav-link ml-2" >
          <% if current_user.first_name.nil? %>
            Hola <%= current_user.email.split('@').first.capitalize %>
          <% else  %>
            Hola <%= current_user.first_name %>
          <% end %>
        </div>
      <% else %>
        <li class="nav-item d-flex">
          <%= link_to "Crear cuenta", new_user_registration_path, class: "nav-link"  %>
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="navbar-invisible-div"></div>
