<div class="container">
  <h2>Project Roles</h2>
  <div class="card-wrapper">

    <% @project.roles.each do |role| %>
      <div class="card clickable-card">
        <div class="card-body text-center">
          <h5 class="card-title"><%= role.name %></h5>
          <!-- logica avatars/mensaje si el role esta ocupado o vacante -->
          <!-- si esta ocupado -->
          <% if !role.open? %>
            <% if role.active_collaborator.user.photo.attached? %>
              <%= cl_image_tag role.active_collaborator.user.photo.key, data: { toggle: 'tooltip' }, class: "avatar dropdown-toggle", title: "#{role.active_collaborator.user.first_name} / #{role.name}" %>
            <% else %>
              <%= image_tag "https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg", class: "avatar dropdown-toggle" %>
            <% end %>
            <p class="role.status" style="color: red;">Esta posición está ocupada</p>
            <%= link_to "Delete collaborator", collaborator_path(role.active_collaborator), method: :delete, data: { confirm: 'Estas seguro de eliminar a este colaborador?' } %>
            <!-- si esta vacante -->
          <% else %>
            <p class="role.status mb-2" style="color: $forest-green;">Esta posición está vacante</p>
          <% end %>
          <div class="skill-level d-flex">
            <% role.requirements.each do |requirement| %>
              <div class="d-flex flex-wrap m-0">
                <p class=" text-left mr-2 mb-0" data-toggle="tooltip" title="<%= requirement.technology.name %> <%= requirement.level.name.capitalize %>">
                  <%= sanitize pick_tech_icon(requirement.technology.name), tags: %w(i), attributes: %w(class style) %>
                </p>
              </div>
            <% end %>
          </div>
          <div>
            <h6 class="mb-0 mt-3"> Funciones del puesto </h6>
            <p class="card-text"><%= role.description %></p>
          </div>
        </div>
      </div>
      <% end %>

      <div id="new-role-form" class="card clickable-card">
        <div class="card-body text-center">
          <h5 class="card-title">New role</h5>
          <div class="container">

            <%= simple_form_for([ @project, @role ], remote: true) do |f| %>
              <%= simple_fields_for :requirement do |ff| %>
                <%= ff.input :technology_id, collection: Technology.all, label:false, prompt: "Tecnología" %>
                <%= ff.input :level_id, collection: Level.all, label:false, prompt: "Nivel" %>
              <% end %>

              <%= f.input :name, label:false, placeholder: "Nombre del rol" %>
              <%= f.input :description, label:false, placeholder: "Descripción" %>
              <%= f.submit "Add role", class: "btn btn-primary" %>
            <% end %>

          </div>
        </div>
      </div>
  </div>
</div>


