  <div class="about-container">
    <h1 class="heading">Conocé al equipo</h1>
    <div class="about-card-wrapper">
      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-eli", alt: "profile-img", class:"about-profile-img" %>
        <h1>Elian Magni</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contact</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square"></a></li>
          <li><a href="#" class="fab fa-linkedin"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-twitter-square"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-pablo", alt: "profile-img", class:"about-profile-img" %>
        <h1>Pablo Andrizzi</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contact</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square"></a></li>
          <li><a href="#" class="fab fa-linkedin"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-twitter-square"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-amy", alt: "profile-img", class:"about-profile-img" %>
        <h1>Amy Camacho</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contact</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square"></a></li>
          <li><a href="#" class="fab fa-linkedin"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-twitter-square"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-tomy", alt: "profile-img", class:"about-profile-img" %>
        <h1>Tomas Hergott</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contact</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square"></a></li>
          <li><a href="#" class="fab fa-linkedin"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-twitter-square"></a></li>
        </ul>
      </div>
    </div>
  </div>
