  <div class="about-container">
    <h1 class="heading">Conocé al equipo</h1>
    <div class="about-card-wrapper">
      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-eli", alt: "profile-img", class:"about-profile-img" %>
        <h1>Elian Magni</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about mx-3">Lorem ipsum dolor sit amet</p>
        <a href="magni.elian@gmail.com" class="btn">Contacto</a>
        <ul class="social-media">
          <li><a href="https://github.com/1990eam" class="fab fa-github-square" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/in/eli%C3%A1n-magni-07312a49/" class="fab fa-linkedin" target="_blank"></a></li>
          <li><a href="https://twitter.com/1990eam" class="fab fa-twitter-square" target="_blank"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-pablo", alt: "profile-img", class:"about-profile-img" %>
        <h1>Pablo Andrizzi</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about mx-3">Especialista en cosas, entusiasta de la música y amante de los desafíos</p>
        <a href="pandrizzi45@gmail.com" class="btn">Contacto</a>
        <ul class="social-media">
          <li><a href="https://github.com/l1chtlaerm" class="fab fa-github-square" target="_blank"></a></li>
          <li><a href="https://www.linkedin.com/feed/" class="fab fa-linkedin" target="_blank"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-amy", alt: "profile-img", class:"about-profile-img" %>
        <h1>Amy Camacho</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about mx-3">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contacto</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square" target="_blank"></a></li>
          <li><a href="#" class="fab fa-linkedin" target="_blank"></a></li>
          <li><a href="#" class="fab fa-instagram" target="_blank"></a></li>
          <li><a href="#" class="fab fa-twitter-square" target="_blank"></a></li>
        </ul>
      </div>

      <div class="about-card">
        <%= image_tag "about-background", alt: "alttext", class:"about-card-img" %>
        <%= image_tag "foto-tomy", alt: "profile-img", class:"about-profile-img" %>
        <h1>Tomas Hergott</h1>
        <p class="job-title">Fullstack Developer</p>
        <p class="about mx-3">Lorem ipsum dolor sit amet</p>
        <a href="#" class="btn">Contacto</a>
        <ul class="social-media">
          <li><a href="#" class="fab fa-github-square" target="_blank"></a></li>
          <li><a href="#" class="fab fa-linkedin" target="_blank"></a></li>
          <li><a href="#" class="fab fa-instagram" target="_blank"></a></li>
          <li><a href="#" class="fab fa-twitter-square" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </div>
