<div id="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.idgesg.net/images/article/2019/05/team_manipulates_coding_elements_programming_interface_development_developers_teamwork_by_dean_mitchell_gettyimages-1055056786_2400x1600-100795794-large.jpg);">
  <div class="container">
    <h1>TeamAppsis: transformando islas en archipiélagos</h1>
    <p>Comienza un proyecto tech o colabora con otros developers en sus emprendimientos.</p>
    <div id="banner-buttons-large">
      <%= link_to "Explorar Proyectos", projects_path, class: "btn btn-primary mr-3 mb-3" %>
      <%= link_to "Crear Proyecto", new_project_path, class: "btn btn-secondary mr-3 mb-3" %>
    </div>
  </div>
</div>
<div class="container mb-3">
  <h2 class="text-center mt-3">Nuestra iniciativa</h1>
  <div class="container home-card-container">
    <%= render "projects/index-card", project: @projects.fourth %>
    <p class="mt-3"> TeamAppsis surge a partir de la necesidad latente de profesionales novatos por insertarse en el ambito laboral y de emprendedores </p>
  </div>
  <h2 class="text-center">Nuestros objetivos</h1>
  <div class="container home-card-container">
    <%= render "projects/index-card", project: @projects.second %>
    <p class="mt-3">Generar un espacio de encuentro entre emprendedores y profesionales</p>
  </div>
  <h2 class="text-center">Colabora remotamente!</h1>
  <div class="container home-card-container">
    <%= render "projects/index-card", project: @projects.first %>
    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
