<div id="carouselExampleSlidesOnly" class="carousel slide d-flex flex-column align-items-center text-center justify-content-center" data-ride="carousel">
  <div class="overlay container d-flex flex-column align-items-center text-center justify-content-center">
    <h1>Transformando ideas en startups e islas en archipiélagos</h1>
    <p>Comienza un proyecto tech o conecta y colabora con otros developers en sus emprendimientos.</p>
    <div id="banner-buttons-large">
      <div class="row">
        <div class="col-12 col-md-6 mx-0">
          <%= link_to "Explorar Proyectos", projects_path, class: "btn btn-primary mb-3 btn-lg" %>
        </div>
        <div class="col-12 col-md-6 mx-0">
          <%= link_to "Crear Proyecto", new_project_path, class: "btn btn-success mb-3 btn-lg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-inner main-banner">
    <div class="carousel-images carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.idgesg.net/images/article/2019/05/team_manipulates_coding_elements_programming_interface_development_developers_teamwork_by_dean_mitchell_gettyimages-1055056786_2400x1600-100795794-large.jpg);" >
    </div>
    <div class="carousel-images carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587614313085-5da51cebd8ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1900&q=80);">
    </div>
    <div class="carousel-images carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1900&q=80);">
    </div>
  </div>
  <section id="section01" class="demo d-flex justify-content-center">
    <a href="#section02"><span></span>Más información</a>
  </section>
</div>

<section id="section02" class="mt-4">
  <div class="container mb-3 mt-4">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="home-text-container">
          <div class="border-bottom my-3">
            <div class="d-flex align-items-center justify-content-center logo-concat">
              <h3 class="text-center mt-3">Somos</h3>
              <%= image_tag "logo.png", class: "index-logo", style: "width: 70px;" %>
              <h3 class="text-center mt-3"><div class="logo-text" style="font-size: 1.75rem;">TeamAppsis</div></h3>
            </div>
            <p style="line-height: 2;">Esta idea surge a partir de la necesidad latente de nuevos y jóvenes profesionales por insertarse en el ámbito laboral, ganar experiencia en la resolución de problemas y trabajar en equipo en el ecosistema tech.</p>
          </div>

          <div class="border-bottom my-3">
            <h3 class="text-center mt-3">Nuestros objetivos</h3>

            <div class="d-flex">
              <%= image_tag "scrum.svg", class: "mr-3 d-block d-md-none d-lg-block", style: "width: 40%;" %>
              <p class="mt-3" style="line-height: 2;">Queremos generar un espacio de encuentro entre emprendedores y profesionales que busquen transformar ideas en proyectos y usar nuestra plataforma para atraer sponsors.</p>
            </div>
          </div>

          <div class="my-3 border-bottom">
            <h3 class="text-center mt-3">Colabora remotamente</h3>
            <div class="d-flex">
              <%= image_tag "remote.svg", class: "mr-3 d-block d-md-none d-lg-block", style: "width: 40%;" %>
              <p class="mt-3" style="line-height: 2;">Organiza tu disponibilidad horaria y haz un uso óptimo del tiempo, realizando tareas especificas según tus habilidades.</p>
            </div>
          </div>

          <div class="my-3">
            <h3 class="text-center mt-3">Encuentra proyectos a tu medida</h3>
            <div class="d-flex">
              <%= image_tag "predictive.svg", class: "mr-3 d-block d-md-none d-lg-block", style: "width: 40%;" %>
              <p class="mt-3" style="line-height: 2;">Carga tus skills para que podamos recomendarte proyectos que buscan colaboradores con tus habilidades.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="cards-container">
          <div class="container home-card-container my-4">
            <div class="home-first-card">
              <%= render "projects/index-card", project: @projects.fourth %>
            </div>
          </div>
          <div class="container home-card-container my-4">
            <div class="home-second-card">
              <%= render "projects/index-card", project: @projects.second %>
            </div>
          </div>
          <div class="container home-card-container my-4">
            <div class="home-third-card">
              <%= render "projects/index-card", project: @projects.first %>
            </div>
          </div>
        </div>
        <div class="demo second-scroller d-flex justify-content-start">
          <a href="#section01" class="red-salsa"><span></span>Comienza a explorar o crea un proyecto</a>
        </div>
      </div>
    </div>
  </div>
</section>


