<div class="container mt-5">
  <div class="form-group">
    <%= simple_form_for(@project, remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, placeholder: "Nombre del Proyecto" %>
    <%= f.input :description, as: :text, placeholder: "Describe tu proyecto" %>
    <%= f.input :link_1, as: :text, placeholder: "Linkea tu GitHub, LinkedIn o lo que creas necesario" %>
    <%= f.input :link_2, as: :text, placeholder: "Linkea tu GitHub, LinkedIn o lo que creas necesario" %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.button :submit, "Crear Proyecto", class: "btn-primary" %>
    <%= f.button :button, "Cancelar", type: "reset", class: "btn btn-danger" %>
    <% end %>
  </div>

</div>
