<%= render "shared/add_skill_modal" %>
<div class="container mt-3">

  <div class="grid-index-container mt-3">
    <div class="my-feed">
      <h6 style="text-align: center;">Filtrar proyectos</h6>
      <p><%= link_to "With Open Roles", projects_path(:with_open_roles => "true"), class:"btn btn-primary" %></p>
      <p><%= link_to "That match my skills", projects_path(:skill_match => "true"), class:"btn btn-primary" %></p>
    </div>



    <div class="index-projects">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>

            <%= render "projects/index-card", project: project %>
        <% end %>
      <% end %>
    </div>
    <div class="my-profile-card"></div>
  </div>
</div>

<div id="user-skills" style="display: none;">
  <% if @user %>
    <%= @user.skills.count %>
  <% end %>
</div>

