<%= render "shared/add_skill_modal" %>


<div class="container mt-3">
  <div class="grid-index-container mt-3">
    <div class="floating-sidebar">
      <%= render "projects/my_profile_partial" %>
      <%= render "projects/my_feed_partial" %>
    </div>
    <div class="d-flex align-items-center justify-content-center logo-concat">
      <%= image_tag "logo.png", class: "index-logo" %>
      <div class="ml-1">
        <p class="mb-0 logo-text">TeamAppsis</p>
        <p class="mb-0">Buscando soluciones a problemas reales</p>
      </div>
    </div>
    <div class="index-projects">
      <% @projects.each do |project| %>
        <%= render "projects/index-card", project: project %>
      <% end %>
    </div>
  </div>
</div>

<div id="user-skills" style="display: none;">
  <% if @user %>
    <%= @user.skills.count %>
  <% end %>
</div>
