<%= render "shared/add_skill_modal" %>
<div class="container mt-3">
  <div class="grid-index-container mt-3">
    <div class="my-feed p-3">
      <h6 style="text-align: center;">Filtrar proyectos</h6>
      <p><%= link_to "Con posiciones abiertas", projects_path(:with_open_roles => "true"), class:"btn btn-primary" %></p>
      <p><%= link_to "Que coinciden con mis skills", projects_path(:skill_match => "true"), class:"btn btn-primary" %></p>
    </div>
    <div class="index-projects">
      <% @projects.each do |project| %>
        <%= render "projects/index-card", project: project %>
      <% end %>
    </div>
  </div>
</div>

<div id="user-skills" style="display: none;">
  <% if @user %>
    <%= @user.skills.count %>
  <% end %>
</div>
