<div class='container'>
  <% @projects.each do |project| %>
    <div class="my-project-container">
      <p><%= link_to "#{project.name}", project_path(project) %></p>
      <p><%= project.description %></p>
      <p><%= link_to "Editar Proyecto", new_project_path(project) %></p>
      <p><%= link_to  "Nuevo rol", new_project_role_path(project) %></p>
      <p><%= link_to "Ver Proyecto", project_path(project) %></p>
      <%= link_to "Eliminar Proyecto", project_path(project), method: :delete, data: { confirm: 'Are you certain you want to delete this Project?' } %>
    </div>
  <% end %>
</div>

