<div class="container">
  <h3>Mis Proyectos</h3>
  <% if @projects == [] %>
  <h5> Todavía no creaste ningún Proyecto  </h5>
  <%= link_to "Crear Proyecto", new_project_path, class: "btn-sm btn btn-success mb-3 btn-lg" %>
  <% else %>
    <% @projects.each do |project| %>
    <div class="index-project-card border rounded">
    <div class="d-flex">
    <%= cl_image_tag project.photo.key, alt: "alttext", width: 100, height: 100, crop: :fill%>
    <div class="ml-2">
      <h2 class="text-left"><%= project.name %></h2>
      <p class="text-muted"><%= project.description %></p>
    </div>
    </div>
       <div class="d-lg-flex justify-content-between w-100 w-lg-50 mr-5 mt-2">
          <div class="d-flex flex-column justify-content-between w-100 w-lg-50 mr-5">
            <h5>Links</h5>
            <div>
              <% if project.link_1 != nil && project.link_1 != "" %>
                <%= link_to "http://#{project.link_1}", class: "link-z-index" do %>
                  <div class="d-flex align-items-center mb-2">
                    <%= sanitize pick_url_icon(project.link_1) %>
                    <div class="d-inline ml-1">
                      <%= truncate(shorten_url(project.link_1), length: 30)  %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if project.link_2 != nil && project.link_2 != "" %>
                <%= link_to "http://#{project.link_2}", class: "link-z-index" do %>
                  <div class="d-flex align-items-center mb-2">
                    <%= sanitize pick_url_icon(project.link_2) %>
                    <div class="d-inline ml-1">
                      <%= truncate(shorten_url(project.link_2), length: 30) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% if project.roles.count { |role| role.open? } == 0  %>
            <div class="no-positions mb-2 mb-lg-0">
              <p>Todas las posiciones de tu proyecto estan cubiertas <i class="ml-1"></i></p>
            </div>
            <% else %>
            <div class="open-positions mb-2 mb-lg-0">
              <p><%= pluralize(project.roles.count { |role| role.open? }, "posición por cubrir", plural: "posiciones por cubrir") %></p>
            </div>
            <% end %>
          </div>

          <div class="w-100 w-lg-50">
            <div>
              <h5>Tags</h5>
              <div class="d-flex flex-wrap icons-wrapper">
                <% project.technologies.uniq.take(10).each do |technology| %>
                  <p class="mr-3 mb-2" data-toggle="tooltip" title="<%= technology.name %>">
                    <%= sanitize pick_tech_icon(technology.name), tags: %w(i), attributes: %w(class style) %>
                  </p>
                <% end %>
              </div>
            </div>

            <div class="mt-2">
              <h5>Colaboradores <span class="badge badge-pill badge-light"><%= project.collaborators.count { |x| x.status = "active" } %></span></h5>
                <% project.collaborators.each do |collaborator| %>
                  <%= avatar_fixer(collaborator.user, class: "avatar-small mr-2", data: { toggle: 'tooltip' }, title: "#{collaborator.user.first_name} / #{collaborator.role.name}") %>
                <% end %>
            </div>
          </div>
          <div class="mr-5 icons-wrapper">
            <p><%= link_to "", project_path(project), data: { toggle: 'tooltip' }, title: "Ver Proyecto", class:"fas fa-project-diagram", style:"text-decoration: none;"%></p>
            <p><%= link_to "", new_project_role_path(project), data: { toggle: 'tooltip' }, title: "Crear nuevo Rol", class:"fas fa-folder-plus", style:"text-decoration: none;"%></p>
            <p><%= link_to "", edit_project_path(project), data: { toggle: 'tooltip' }, title: "Editar Proyecto", class:"fas fa-edit mr-1", style:"text-decoration: none;"%></p>
            <p><%= link_to "", project_path(project), data: { toggle: 'tooltip', confirm: "¿Estás seguro?" }, method: :delete, title: "Eliminar Proyecto", class:"fas fa-trash", style:"text-decoration: none;"  %></p>
          </div>
        </div>
      </div>

  <% end %>
  </div>
<% end %>
</div>
