<div class='project-container mr-5'>
  <div class='project-overview mx-3'>
    <% if @project.photo.attached? %>
    <%= cl_image_tag @project.photo.key, alt: "alttext", crop: :fill,  class:"project-image" %>
    <% else %>
    <%= image_tag "project-default", class:"project-image" %>
    <% end %>
    <h4 class='text-center mt-3'> <%= @project.name %></h4>
    <div class="tech-images">
      <% @project.technologies.uniq.each do |technology| %>
      <p class="ml-3 mb-0 icons-wrapper" data-toggle="tooltip" title="<%= technology.name %>">
        <%= sanitize pick_tech_icon(technology.name), tags: %w(i), attributes: %w(class style) %>
      </p>
      <% end %>
    </div>
    <div class="project-collaborators text-center">
      <div class="description-container">
        <h5> Descripción </h5>
        <div class="project-description">
          <p class="mx-3"><%= @project.description %></p>
        </div>
      </div>
      <div class="project-collaborators text-center">
        <h5>Colaboradores</h5>
        <div>
          <%= avatar_fixer(@project.collaborators.first.user, data: { toggle: 'tooltip' }, class: "avatar-bordered mx-2", title: "#{@project.collaborators.first.user.first_name} / #{@project.collaborators.first.role.name} [Fundador]") %>
          <% @project.collaborators.drop(1).each do |collaborator| %>
            <%= avatar_fixer(collaborator.user, data: { toggle: 'tooltip' }, class: "avatar mx-2", title: "#{collaborator.user.first_name} / #{collaborator.role.name}") %>
          <% end %>
        </div>
      </div>
      <div class="links">
        <% if @project.link_1 != nil && @project.link_1 != "" %>
          <h5>Links</h5>
          <p><a href="http://<%= @project.link_1 %>", class="text-decoration-none"><%= sanitize pick_url_icon(@project.link_1) %> <%= shorten_url(@project.link_1) %></a></p>
        <% end %>
        <% if @project.link_2 != nil && @project.link_2 != "" %>
          <p><a href="http://<%= @project.link_2 %>", class="text-decoration-none"><%= sanitize pick_url_icon(@project.link_2) %> <%= shorten_url(@project.link_2) %></a></p>
        <% end %>
      </div>
    </div>
  </div>
    <div class="tabs-container border rounded" >
      <!-- Tabs https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link <%= ["applications", nil].include?(params[:tab]) ? "active" : "" %> " id="applications-tab" data-toggle="tab" href="#applications" role="tab" aria-controls="applications" aria-selected="true">Aplicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= params[:tab] == "roles" ? "active" : "" %> " id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= params[:tab] == "suggestions" ? "active" : "" %>" id="suggestions-tab" data-toggle="tab" href="#suggestions" role="tab" aria-controls="suggestions" aria-selected="false">Sugerencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= params[:tab] == "evolution" ? "active" : "" %>" id="evolution-tab" data-toggle="tab" href="#evolution" role="tab" aria-controls="evolution" aria-selected="false">Historial</a>
        </li>
      </ul>

      <!-- Tab content -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade <%= ["applications", nil].include?(params[:tab]) ? "show active" : "" %>" id="applications" role="tabpanel" aria-labelledby="home-tab">
          <%= render "shared/applications_show" %>
        </div>
        <div class="tab-pane fade  <%= params[:tab] == "roles" ? "show active" : "" %>" id="roles" role="tabpanel" aria-labelledby="roles-tab">
          <%= render "shared/roles_show_new" %>
        </div>
        <div class="<%= params[:tab] == "evolution" ? "show active" : "" %> tab-pane fade" id="evolution" role="tabpanel" aria-labelledby="evolution-tab">
          <%= render "history_partial", project: @project %>
        </div>
        <div class="<%= params[:tab] == "suggestions" ? "show active" : "" %> tab-pane fade" id="suggestions" role="tabpanel" aria-labelledby="suggestions-tab">
          <%= render "suggestions/index" %>
        </div>
      </div>
    </div>
</div>
