<h2>Roles de este proyecto</h2>
<div class="roles">
  <% @project_roles.each do |role| %>
    <div class="role-card">
      <p class="role-title"><%= role.name %></p>
      <p><%= role.open? %></p>
      <div><% role.requirements.each do |requirement| %>
        <p><%= requirement.technology.name %></p>
        <p><%= requirement.level.name %></p>
        <% end %>
      </div>

    </div>
  <% end %>


</div>

  <div class="new-roles">

    <div class="new-role-form-container">
      <!-- <h4>Agregá un nuevo rol</h4> -->
      <div class="new-role-card">
        <%= simple_form_for([ @project, @role ], remote: true) do |f| %>
          <%= f.input :name %>
          <%= f.submit "Submit role", class: "btn btn-primary" %>
        <% end %>

      </div>
  </div>
  </div>
