<% case application.status.downcase %>
<% when "pending response from applicant" %>
<p class="shadow-blue" style="font-weight: bolder">Tu aplicación ha sido aceptada por <%= application.project.name %> y están esperando tu respuesta</p>
<%= link_to "Aceptar", accept_path(application), method: :put, class:"btn btn-success" %>
<%= link_to "Declinar", decline_path(application), method: :put, class:"btn btn-danger" %>
<% when "declined by owner" %>
<p style="color: red; font-weight: bolder">Tu aplicación ha sido declinada</p>
<% end %>
<% case application.status.downcase %>
<% when "pending" %>
<p style="color: #E59500; font-weight: bolder"> Pendiente</p>
<% when "accepted" %>
<p class="forest-green" style="font-weight: bolder"> ¡Felicitaciones! Ahora formas parte del equipo de <%= application.project.name %></p>
<% when "declined by user" %>
<p style="color: red; font-weight: bolder"> Has declinado la invitación de <%= application.project.name %></p>
<% end %>
