<% case application.status.downcase %>
<% when "pending response from applicant" %>
<div>
  <p class="honey-yellow mb-2" style="font-weight: bolder">Tu aplicación ha sido aceptada por <%= application.project.name %> y están esperando tu respuesta</p>
  <div>
    <%= link_to "Aceptar", accept_path(application), method: :put, class:"btn btn-success mb-3 mr-1", remote: true %>
    <%= link_to "Declinar", decline_path(application), method: :put, class:"btn btn-danger mb-3", remote: true %>
  </div>
</div>
<% when "declined by owner" %>
<p class="mb-0 red-salsa" style="font-weight: bolder">Tu aplicación ha sido declinada</p>
<% end %>
<% case application.status.downcase %>
<% when "pending" %>
<p class="mb-0 honey-yellow" style="font-weight: bolder"> Pendiente</p>
<% when "accepted" %>
<p class="mb-0" style="color:green; font-weight: bolder"> ¡Felicitaciones! Ahora formas parte del equipo de <%= application.project.name %></p>
<% when "declined by user" %>
<p class="mb-0 red-salsa" style="font-weight: bolder"> Has declinado la invitación de <%= application.project.name %></p>
<% end %>
