<% case application.status %>
<% when "pending" %>
  <div>
    <p class="honey-yellow mb-2" style="font-weight: bolder">El candidato está esperando respuesta de <%= application.project.user.first_name %></p>
    <% if current_user == application.project.user %>
      <div>
        <%= link_to "Aceptar", accept_path(application), method: :put, class:"btn btn-success mb-3 mr-1", remote: true %>
        <%= link_to "Declinar", decline_path(application), method: :put, class:"btn btn-danger mb-3", remote: true %>
      </div>
    <% end %>
  </div>
<% when "pending response from applicant" %>
  <p class="honey-yellow" style="font-weight: bolder">La aplicación de <%= application.user.first_name %> fue aceptada y está pendiente de respuesta del candidato</p>
<% when "declined by owner" %>
  <p class="red-salsa" style="font-weight: bolder">Has declinado la aplicación de <%= application.user.first_name %></p>
<% when "accepted" %>
  <p style="color: green; font-weight: bolder">¡El candidato ha aceptado y forma parte del equipo!</p>
<% when "declined by user" %>
  <p class="red-salsa" style="font-weight: bolder">El candidato ha declinado</p>
<% end %>
