<div class="container">
  <h1> My request</h1>

  <div class="card-request">
    <div class="d-flex">
      <% @projects.each do |project| %>
      <%= cl_image_tag project.photo.key, alt: "alttext", crop: :fill, class: "project-card-logo mr-3 ml-2 rounded" %>
     <div>
        <h3> <%= project.name %> </h3>
        <p> <%= project.description %> </p>
     </div>
    </div>

    <div class="d-flex">
      <% project.application_requests.each do |application| %>
      <div class="container">
        <p> Role: <%= application.role.name  %></p>
        <% case application.status %>
          <% when "pending" %>
            <p style="color: #e59500; font-weight: bolder">Pending response</p>
            <%= link_to "Accept", accept_path(application), method: :put, remote: true, class:"btn btn-success" %>
            <%= link_to "Decline", decline_path(application), method: :put, remote: true, class:"btn btn-danger" %>
          <% when "accepted" %>
            <p style="color: green; font-weight: bolder">Accepted</p>
          <% when "declined" %>
            <p style="color: red; font-weight: bolder">Declined</p>
          <% end %>
      <% end %>

      </div>
      <div>
        <p> Applicant Information</p>
      </div>
    </div>
    <% end %>
  </div>
  <div>

  </div>

</div>
