<div class='container mt-5'>
  <h1 class='text-center'> You are applying to <%= @project.name %></h1>
  <h6 class='text-center'>Estas son las posiciones disponibles en este proyecto</h6>
   <div class='container mt-5'>
      <div class='grid-application'>

        <div class='card-project'>

          <div>
            <h5 class='text-center'> Information about the project </h5>
              <div class="mx-4">
                <div>
                  <p class="text-justify"><%= @project.description %></p>
                </div>
                  <div>
                    <div>

                    </div>
                    <h5 class="ml-0"> Collaborators </h5>
                    <div class="">
                      <% @project.collaborators.each do |collaborator| %>
                        <h6> <%= collaborator.role.name %></h6>
                        <% if collaborator.user.photo.attached? %>
                          <%= cl_image_tag collaborator.user.photo.key, data: { toggle: 'tooltip' }, class: "avatar dropdown-toggle", title: "#{collaborator.user.first_name} / #{collaborator.role.name}" %>
                        <% else %>
                          <%= image_tag "https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg", class: "avatar dropdown-toggle" %>
                        <% end %>
                        <p> <%= collaborator.user.first_name %></p>
                      <% end %>
                    </div>

                  </div>
            </div>
          </div>
        </div>


          <div class="card-roles">
            <% @project.roles.each do |role| %>
              <% if role.open? %>
                <div class="card clickable-card" data-target="<%= role.id %>" data-delete="<%= role.id %>">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= role.name %></h5>
                     <% role.requirements.each do |requirement|%>
                     <div class="d-flex flex-wrap m-0">
                      <p class=" text-left mr-2 mb-0">
                        <%= sanitize pick_tech_icon(requirement.technology.name), tags: %w(i), attributes: %w(class style) %>
                        <%= requirement.technology.name %>
                      </p>
                      <p class='mb-0'><%= requirement.level.name %></p>
                     </div>
                      <% end %>
                    <p class="card-text mt-4"><%= role.description %></p>
                    <button class="btn btn-primary"> <i class="fas fa-plus-circle primary "></i> Apply </button>
                  </div>
                </div>
              <% end %>
              <% end %>
          </div>

          <div class='file-container'>
            <h5> Subir archivos de propuesta</h5>
            <p> <i class="fas fa-plus"></i> Añadir archivo </p>
            <input type="file" id="files" >
          </div>

      </div>
      <div class="input mt-5">
        <%= simple_form_for [@project, @application] do |f| %>
        <!-- el hidden input es para mandar el role id en params -->
        <input type="" hidden="true" name='role_id' value="role" class="role_field">
        <%= f.input :about_me %>
        <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>

  </div>
</div>
