<div class='container mt-5'>
  <h1 class='text-center'>Estás aplicando a <%= @project.name %></h1>
  <h6 class='text-center'>Estas son las posiciones disponibles en este proyecto</h6>
   <div class='application-request-container mt-5'>
      <div class='grid-solicitudes'>
        <div class='card-project'>
          <div>
            <% if @project.photo.attached? %>
            <%= cl_image_tag @project.photo.key, alt: "alttext", crop: :fill,  class:"project-image" %>
            <% else %>
            <%= image_tag "project-default", class:"project-image" %>
            <% end %>
            <h5 class='text-center'>Información sobre el proyecto</h5>
              <div class="mx-4">
                <div>
                  <p class="text-justify"><%= @project.description %></p>
                </div>
                  <div>
                    <div>
                    </div>
                    <h5 class="ml-0">Colaboradores</h5>
                    <div class="">
                      <% @project.collaborators.each do |collaborator| %>
                        <%= avatar_fixer(collaborator.user, data: { toggle: 'tooltip' }, class: "avatar ml-2", title: "#{collaborator.user.first_name} / #{collaborator.role.name}") %>
                      <% end %>
                    </div>
                  </div>
            </div>
          </div>
        </div>

        <div  class="container form-apply mb-3">
         <div class="card-roles mt-3">
            <% @project.roles.each do |role| %>
              <% if role.open? %>
                <div class="card clickable-card" data-target="<%= role.id %>" data-delete="<%= role.id %>">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= role.name %></h5>
                     <% role.requirements.each do |requirement|%>
                     <div class="d-flex flex-wrap m-0">
                      <p class=" text-left mr-2 mb-0">
                        <%= sanitize pick_tech_icon(requirement.technology.name), tags: %w(i), attributes: %w(class style) %>
                        <%= requirement.technology.name %>
                      </p>
                      <p class='mb-0'><%= requirement.level.name %></p>
                     </div>
                      <% end %>
                    <p class="card-text mt-4"><%= role.description %></p>
                    <% if role.application_requests.any? { |application| application.user != current_user } || role.application_requests.empty? %>
                      <button class="btn btn-primary"> <i class="fas fa-plus-circle primary mr-1"></i>Aplicar</button>
                    <% else %>
                      <div class="text-muted position-absolute mb-3 fixed-bottom">¡Ya aplicaste a este rol!</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% end %>
          </div>

          <% if @project.roles.count { |role| role.open? } == 0  %>
          <div class="no-positions rounded mb-2 mb-lg-0">
            <p>Este proyecto está cubierto <i class="fas fa-heart-broken ml-1"></i></p>
          </div>
          <% else %>
            <%= simple_form_for [@project, @application] do |f| %>
            <input type="" hidden="true" name='role_id' value="role" class="role_field">
            <div class='file-container text-light mt-4 '>
              <h5>Sube tu CV</h5>
              <%= f.input :file, label: "Adjuntar archivo pdf", as: :file %>
            </div>
            <div class="text-light mb-4 text-left">
              <div class=" text-left">
                <%= f.input :about_me, placeholder: "Cuéntanos por qué deberíamos sumarte al equipo :)", label: "Acerca de mí" %>
                <%= f.submit "Enviar solicitud", class: "btn btn-primary"%>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
