<div class='container mt-5'>
  <h1 class='text-center'> Está aplicando a <%= @project.name %></h1>
  <h6 class='text-center'>Estas son las posiciones disponibles en este proyecto</h6>
   <div class='application-request-container mt-5'>
      <div class='grid-solicitudes'>
        <div class='card-project'>
          <div>
            <h5 class='text-center'> Información sobre el proyecto </h5>
              <div class="mx-4">
                <div>
                  <p class="text-justify"><%= @project.description %></p>
                </div>
                  <div>
                    <div>
                    </div>
                    <h5 class="ml-0"> Colaboradores </h5>
                    <div class="">
                      <% @project.collaborators.each do |collaborator| %>
                        <h6> <%= collaborator.role.name %></h6>
                        <% if collaborator.user.photo.attached? %>
                          <%= cl_image_tag collaborator.user.photo.key, data: { toggle: 'tooltip' }, class: "avatar dropdown-toggle", title: "#{collaborator.user.first_name} / #{collaborator.role.name}" %>
                        <% else %>
                          <%= image_tag "https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg", class: "avatar dropdown-toggle" %>
                        <% end %>
                        <p> <%= collaborator.user.first_name %></p>
                      <% end %>
                    </div>

                  </div>
            </div>
          </div>
        </div>

        <div>
         <div class="card-roles">
            <% @project.roles.each do |role| %>
              <% if role.open? %>
                <div class="card clickable-card" data-target="<%= role.id %>" data-delete="<%= role.id %>">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= role.name %></h5>
                     <% role.requirements.each do |requirement|%>
                     <div class="d-flex flex-wrap m-0">
                      <p class=" text-left mr-2 mb-0">
                        <%= sanitize pick_tech_icon(requirement.technology.name), tags: %w(i), attributes: %w(class style) %>
                        <%= requirement.technology.name %>
                      </p>
                      <p class='mb-0'><%= requirement.level.name %></p>
                     </div>
                      <% end %>
                    <p class="card-text mt-4"><%= role.description %></p>
                    <% if role.application_requests.any? { |application| application.user != current_user } %>
                      <button class="btn btn-apply btn-primary"> <i class="fas fa-plus-circle primary "></i>Aplicar</button>
                    <% else %>
                      <div class="text-muted position-absolute mb-3 fixed-bottom">Ya aplicaste a este proyecto!</div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% end %>
          </div>
          <%= simple_form_for [@project, @application] do |f| %>
            <div class='file-container mt-2 ml-2'>
              <h5> Subir archivos de propuesta</h5>
              <%= f.input :file, label: "Adjuntar archivo pdf", as: :file %>
            </div>
            <div class="input mb-4 text-left">
              <input type="" hidden="true" name='role_id' value="role" class="role_field">
                <%= f.input :about_me %>
                <%= f.submit class: "btn btn-primary"%>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
