<div class="suggestions-wrapper">
  <% @project.suggestions.each do |suggestion| %>

  <div class="suggestion-card" data-target="<%= suggestion.id %>">
    <p class="feature-title">Feature</p>
    <p class="suggestion-collaborator">Suggested by:</p>
    <div class="suggestion-collaborator">
      <% if suggestion.collaborator.user.photo.attached? %>
      <%= cl_image_tag suggestion.collaborator.user.photo.key, data: { toggle: 'tooltip' }, class: "suggestion-collaborator avatar dropdown-toggle", title: "#{suggestion.collaborator.user.first_name} / #{suggestion.collaborator.role.name}" %>
      <% else %>
      <%= image_tag "https://www.jdevoto.cl/web/wp-content/uploads/2018/04/default-user-img.jpg", class: "avatar dropdown-toggle" %>
      <% end %>
    </div>
    <p class="suggestion-description"><%= suggestion.description %></p>
    <div class="average-rating">
      <% if suggestion.average_rating.to_i == 0 %>
        <p style="font-size: 0.8rem;" class="text-muted text-center">Nadie ha votado todavìa</p>
        <% else %>
          <p>Aceptaciòn de los colaboradores</p>
          <% suggestion.average_rating.to_i.times do  %>
          <span class="fas fa-star current-rating"></span>
          <% end %>
      <% end %>

    </div>
    <!-- el suggestion id va a ir en el hidden input como params -->
    <div id="suggestion-<%= suggestion.id %>" class="input mt-5">
      <%= simple_form_for [@project, @vote], html: { class: "vote-form form-target#{suggestion.id}" }, remote: :true do |f| %>
      <input type="" hidden="true" name='suggestion_id' value="<%= suggestion.id %>" class="suggestion_field">
      <%= f.input :rating, collection: (1..5).to_a, label: "Vota esta feature", class:"vote-form", :input_html => { :id => "target_#{suggestion.id}" } %>
      <%= f.submit "Votar", class: "btn btn-primary d-none" %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="new-suggestion-card">
    <p class="feature-title">Nueva Feature</p>
    <p style="font-weight: bolder;">Explica brevemente la feature a implementar:</p>

    <%= simple_form_for [ @project, @suggestion ], remote: true do |f| %>
      <%= f.input :description %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>


  </div>

</div>
