<div class="suggestions-wrapper">
<% @project.suggestions.each do |suggestion| %>
    <div class="suggestion-card" data-target="<%= suggestion.id %>">
      <p style="text-align: center;">Feature</p>
      <p><%= suggestion.description %></p>
      <p>Suggested by: <%= suggestion.collaborator.user.first_name %></p>
      <% suggestion.average_rating.to_i.times do  %>
       <span class="fas fa-star current-rating"></span>
      <% end %>
      <p>Vote</p>

      <!-- el suggestion id va a ir en el hidden input como params -->
      <div class="input mt-5">
        <%= simple_form_for [@project, @vote], html: { class: "vote-form" }, remote: :true do |f| %>
        <input type="" hidden="true" name='suggestion_id' value="<%= suggestion.id %>" class="suggestion_field">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate this feature" %>
        <%= f.submit "Votar", class: "btn btn-primary d-none" %>
        <% end %>
      </div>

    </div>
<% end %>
</div>
